.git
.gitignore
.idea
.venv
__pycache__
**/__pycache__
*.pyc
*.pyo
*.pyd
.Python
.DS_Store
output/
logs/
models/*.pt
*.log
.pytest_cache
.mypy_cache
Dockerfile
docker-compose.yml
.dockerignore
README.md
THIRD_PARTY_LICENSES.md
